In [604]:
import csv
file = open('rock_letternames_fixed.txt','r')
data = list(csv.reader(file,delimiter=','))
file.close()

In [605]:
len(data)

173

In [606]:
from itertools import chain
data = list(chain.from_iterable(data))

In [607]:
len(data)

11026

In [619]:
new_data = []
for d in data:
    if " " in d:
        d = d[1:]
    new_data.append(d)

In [626]:
len(new_data)

11026

In [627]:
import numpy as np
np.unique(new_data).size

97

In [630]:
def getNovelty(ourChords):
    final = 0
    for i, chord in enumerate(ourChords):
        n = float(new_data.count(chord))
        try:
            final += 1/n
        except:
            print("chord", i)
            pass
    return final

In [631]:
getNovelty(["F#o7/C", "Dm7", "Gsus4", "A-", "G7", "C7", "A-7", "Cmaj7"])

1.1620081322670581

In [632]:
import pandas as pd
df = pd.read_csv("userdata.csv")
df

,User,Chord1,Chord2,Chord3,Chord4,Chord5,Chord6,Chord7,Chord8,Ratings,Type,Novelty
0,1,F#o7/C,Dm7,Gsus4,A-,G7,C7,A-7,Cmaj7,4.0,1,NaN
1,1,F#o7/C,Am,G,Cmaj7,F7,B,G,Gsus4,5.0,2,NaN
2,1,Am,F,G,C,F,Em,F,C,4.0,0,NaN
3,2,F#o7/C,F,F#,F#o7/C,Dm7,F#,C,F#o7/C,4.9,2,NaN
4,2,F#o7/C,E7,E/G#,F#o7/C,F7,B,E/G#,C/E,3.5,1,NaN
5,2,B-,F/A,G+11,Gm7,G9,G-,G9,Gm,5.0,0,NaN
6,3,B,F7,C7,F,D-,E-,A-,A7,5.0,2,NaN
7,3,C,F/A,A-,Am,Dm7/F,F#,G9,E-/B-,4.0,0,NaN
8,3,C7,F,A-7,C,Dm7,F#o7,A-,C,4.5,1,NaN
9,4,B-7,E/G#,Am,B7,Em,F#o7,G9,C,4.8,2,NaN
10,4,C,Am,Dm7/F,Gm7,Fm9,F#dim,G9,E-/B-,4.5,0,NaN
11,4,F#o7/C,F7,E/G#,B,A-,C7,F,D/F#,4.8,1,NaN
12,5,C,Fmaj7/A,Fmaj7/C,A-,B-m7,Fmaj,Am7,FM9,1.7,2,NaN
13,5,Am,Am,C7/B-,Cmaj7,Am7,FmM7,F/C,B-,2.0,0,NaN
14,5,Cmaj7,E/B,E/G#,Em7/G,F#m7,B,A9,Bm,2.5,1,NaN
15,6,Am,D7,C,D7,Gsus4,A-,B-,C,4.2,0,NaN
16,6,F#o7/C,Fmaj7/C,A-7,B,F/A,F#o7,A-7,C/E,4.7,1,NaN
17,6,C,G,Am,C,F,C,B-,C,3.5,2,NaN
18,7,D/F#,Dm7,C,A-,G7,C,G,Gsus4,4.5,1,NaN
19,7,C7,C7,E/B,G-,D7,Gsus4,Gsus4,C,4.8,2,NaN
20,7,Cm,B-,F/A,C/G,G11,Gm7,G9,E-/B-,4.0,0,NaN

In [633]:
novelty = []
for u in range(21):
    row = df.iloc[u,1:9]
    print("row", u)
    novelty.append(getNovelty(row.values))
    i+=1
df.Novelty = novelty

row 0
row 1
row 2
row 3
row 4
row 5
row 6
row 7
row 8
row 9
row 10
chord 4
row 11
row 12
chord 5
row 13
row 14
row 15
row 16
row 17
row 18
row 19
row 20

In [634]:
df.iloc[10, 5] = "Fm"
df.iloc[12, 6] = 'Fmaj7'

In [635]:
df

,User,Chord1,Chord2,Chord3,Chord4,Chord5,Chord6,Chord7,Chord8,Ratings,Type,Novelty
0,1,F#o7/C,Dm7,Gsus4,A-,G7,C7,A-7,Cmaj7,4.0,1,1.162008
1,1,F#o7/C,Am,G,Cmaj7,F7,B,G,Gsus4,5.0,2,1.425104
2,1,Am,F,G,C,F,Em,F,C,4.0,0,0.010946
3,2,F#o7/C,F,F#,F#o7/C,Dm7,F#,C,F#o7/C,4.9,2,3.296744
4,2,F#o7/C,E7,E/G#,F#o7/C,F7,B,E/G#,C/E,3.5,1,2.639726
5,2,B-,F/A,G+11,Gm7,G9,G-,G9,Gm,5.0,0,0.754170
6,3,B,F7,C7,F,D-,E-,A-,A7,5.0,2,0.570930
7,3,C,F/A,A-,Am,Dm7/F,F#,G9,E-/B-,4.0,0,0.945679
8,3,C7,F,A-7,C,Dm7,F#o7,A-,C,4.5,1,0.181403
9,4,B-7,E/G#,Am,B7,Em,F#o7,G9,C,4.8,2,1.574440
10,4,C,Am,Dm7/F,Gm7,Fm,F#dim,G9,E-/B-,4.5,0,1.820717
11,4,F#o7/C,F7,E/G#,B,A-,C7,F,D/F#,4.8,1,1.733009
12,5,C,Fmaj7/A,Fmaj7/C,A-,B-m7,Fmaj7,Am7,FM9,1.7,2,0.896210
13,5,Am,Am,C7/B-,Cmaj7,Am7,FmM7,F/C,B-,2.0,0,0.818647
14,5,Cmaj7,E/B,E/G#,Em7/G,F#m7,B,A9,Bm,2.5,1,2.640000
15,6,Am,D7,C,D7,Gsus4,A-,B-,C,4.2,0,0.130841
16,6,F#o7/C,Fmaj7/C,A-7,B,F/A,F#o7,A-7,C/E,4.7,1,1.724954
17,6,C,G,Am,C,F,C,B-,C,3.5,2,0.005837
18,7,D/F#,Dm7,C,A-,G7,C,G,Gsus4,4.5,1,0.297788
19,7,C7,C7,E/B,G-,D7,Gsus4,Gsus4,C,4.8,2,1.279718
20,7,Cm,B-,F/A,C/G,G11,Gm7,G9,E-/B-,4.0,0,0.831637

In [636]:
df.groupby("Type").Ratings.describe().iloc[:, 1:3].T

Type         0         1         2
mean  3.957143  4.071429  4.242857
std   0.937829  0.826064  1.239432

In [637]:
df.groupby("Type").Novelty.describe().iloc[:,1:3].T

Type         0         1         2
mean  0.758948  1.482698  1.292712
std   0.595136  0.999969  1.036617

In [638]:
table_ratings = pd.DataFrame([df[df.Type == 0].Ratings]).T.reset_index(drop=True) #df.loc[df.Type == 1].Novelty]
table_ratings.rename(columns = {"Ratings": 'Typical'}, inplace = True)
for i, n in zip(range(1,3), ['Atyplical', "Ripple"]):
    column = pd.DataFrame([df.loc[df.Type == i].Ratings]).T.reset_index(drop=True)
    column.rename(columns = {"Ratings": n}, inplace = True)
    #print(column)
    table_ratings = table_ratings.join(column)
table_ratings

   Typical  Atyplical  Ripple
0      4.0        4.0     5.0
1      5.0        3.5     4.9
2      4.0        4.5     5.0
3      4.5        4.8     4.8
4      2.0        2.5     1.7
5      4.2        4.7     3.5
6      4.0        4.5     4.8

In [639]:
table_Novelty = pd.DataFrame([df[df.Type == 0].Novelty]).T.reset_index(drop=True) 
table_Novelty.rename(columns = {"Novelty": 'Typical'}, inplace = True)
for i, n in zip(range(1,3), ['Atyplical', "Ripple"]):
    column = pd.DataFrame([df.loc[df.Type == i].Novelty]).T.reset_index(drop=True)
    column.rename(columns = {"Novelty": n}, inplace = True)
    #print(column)
    table_Novelty = table_Novelty.join(column)
table_Novelty

    Typical  Atyplical    Ripple
0  0.010946   1.162008  1.425104
1  0.754170   2.639726  3.296744
2  0.945679   0.181403  0.570930
3  1.820717   1.733009  1.574440
4  0.818647   2.640000  0.896210
5  0.130841   1.724954  0.005837
6  0.831637   0.297788  1.279718

In [640]:
import scipy.stats as sts
sts.friedmanchisquare(table_ratings.iloc[:,0], table_ratings.iloc[:,1], table_ratings.iloc[:,2])

FriedmanchisquareResult(statistic=1.4615384615384506, pvalue=0.48153843340713176)

In [641]:
sts.friedmanchisquare(table_Novelty.iloc[:,0], table_Novelty.iloc[:,1], table_Novelty.iloc[:,2])

FriedmanchisquareResult(statistic=0.2857142857142776, pvalue=0.8668778997501851)